.f-1 {
background: url('img/Wow.png');
background-position:-150px -50px;
width: 70px;
height: 40px;
float:left;
}
.f-2 hover; {
background: url('img/Wow.png');
background-position: -80px -50px;
width: 70px;
height: 40px;
transform: scale(1.1);
}
.f-3 {
background: url('img/Wow.png') ;
background-position: -10px -50px;
width: 70px;
height: 40px;

