

body{
	margin: 0
}

header {
    background-color: #50394c;
    padding: 15px 15px 15px 15px;
    color: white
}
header h1{
	display: inline;
}


nav ul {
	margin: 0;
	display: inline;
	float: right;

	
}
nav ul li{
	display: inline-block;
	background-color: black;
	list-style-type: none;
	color: white;
	padding: 5px 35px;

}
nav ul li a{
	color: white; 

}
.row {

}
.col {
	background:#e4d1d1;
	padding: 20px;
	margin: 8px;
	float: left;
	width: 46%;
}
 footer {
 	clear: both;
 }



