
html {
	font-size: 16px;
	font-size: 1rem;
}
div{
	font-size: 2rem
}
header {
    background-color: #696969;
    padding: 1rem;
    text-align: top left;
}
.column {
    float: left;
    width: 80%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    background-color: #696969;
}
	 	li {
    float: right;
}

li a {
    display: block;
    color: #cccccc;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
}
li a:hover {
    background-color: #595959;
}
.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 0.5rem;
    right: 1rem
    font-size: 4rem;
}

img { 
    width: 80%;
    height: auto;
    opacity: 0.7;
}
img {
    border: 0.2rem solid #ddd;
    border-radius: 1rem;
    padding: 1rem;
    width: 60%;
}